
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    padding: 50px 300px;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

.sec2{
    margin: 100px 0;
}

footer {

    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.sec3{
    padding-right: 40px;
}
table{
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


th{
    background-color: #f2f2f2;
    color: black;
    font-size: large;
}

tr:hover{
    background-color: #333;
    color: #f2f2f2;
}
